{% for task in completed_tasks %}
  <div class="row mb-4">
    <div class="col-auto">
      <svg class="icon icon-sm text-gray-500" fill="currentColor" viewBox="0 0 20 20"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
        <path fill-rule="evenodd"
              d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z"
              clip-rule="evenodd"></path>
      </svg>
    </div>
    <div class="col">
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="h6 mb-0">{{ task.name }}</div>
          <div class="small fw-bold text-gray-500"><span>Completed</span></div>
        </div>
      </div>
    </div>
  </div>
{% empty %}
  <div class="text-center text-gray-500 py-5">
    <p class="mb-0">You didn't finish any task yet</p>
  </div>
{% endfor %}