<h1>
  Task List
</h1>

{% if tasks_list %}
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Task Type</th>
      <th>Assignees</th>
    </tr>

    {% for task in tasks_list %}
      <tr>
        <td>
          {{ task.name }}
        </td>
        <td>
          {{ task.description }}
        </td>
        <td>
          {{ task.priority }}
        </td>
        <td>
          {{ task.task_type }}
        </td>
        <td>
          {% for worker in task.assignees.all %}
            {{ worker.first_name }} {{ worker.last_name }}{% if not forloop.last %}, {% endif %}
          {% empty %}
            No assignees
          {% endfor %}
        </td>

      </tr>
    {% endfor %}
  </table>

{% else %}
  <p>There are no tasks.</p>
{% endif %}
